body {
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
}

a {
    color: black !important;
}

img {
    border-radius: 1em;
    box-shadow: 0 0 3px 3px #00000033;
}

h1 {
    margin-bottom: 0px;
    padding-bottom: 15px;
    text-align: center;

}

hr {
    margin-top: 0px;
    padding-top: 0px;
}

.checkbox {
    margin-right: 2px;
    margin-left: 2px;
}

.checkbox>p {
    text-transform: capitalize;
}


.content h4 {
    margin-bottom: 2px;
    margin-left: -4px;
    text-align: center;
}

.control {
    margin-bottom: 10px;
    margin-left: 10px;
}